
// Home, Blog, and Contact Page Headers 

.mainHeaderImage img,
.blogHeaderImage img,
.contactHeaderImage img {
    object-fit: contain;
    width: 100%;
}

// Contact Page Header
.contactHeaderImage {
    padding-top: 100px;
}