
// Home Page Header 

header {
    text-transform: uppercase;
    padding: 50px 0;
}

.homePage {
    background-image: url(../assets/home-1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}