
// Home Page Header 

header {
    padding: 40px 0;
}

.homePage {
    background-image: url(../assets/home-1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}

// Blog Page Header Styles

.blogPage {
    background-image: url(../assets/blog-1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}