// Skip link - take it off the screen
.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    color: $tertiary;
    z-index: 10;
}

// Nav
nav {
    letter-spacing: 0.3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNav {
    display: flex;
    li {
        padding: 0 10px;
    }
    button {
        border: none;
        background: transparent;
    }
    i {
        font-size: 0.9rem;
    }
}

// For the line through effect on the HOME nav link, I modified this codepen: https://codepen.io/kevinSuttle/pen/aqVLeW?editors=1100 

.lineThrough {
    background-image: linear-gradient(to bottom, transparent 0%, transparent 49%, black 50%, black 52%, transparent 53%, transparent 100%);
}

.shoppingBag {
    position: relative;
}

.counter {
    width: 16px;
    height: 16px;
    font-size: 0.5rem;
    background: $quaternary;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    position: absolute;
    top: 2px;
    right: 0;
}

// Contact Page Nav Styling
.contactNav {
    padding: 40px 0;
}