section {
    padding: 100px 0;
}

// Branding Section
.brandingSection {
    background-color: $quaternary;
    padding-top: 200px;
}

.brandingImages {    
    display: flex;
    justify-content: center;
    .deskImage {
    position: relative;
    display: flex;
    justify-content: center;
    .circleImage {
    position: absolute;
    top: -94px;
    left: -108px; }
    }
}

.brandFlexContainer {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    .brandingText {
    width: 350px;
    margin: 0 20px;
    } 
}

// Past Work Section 
.chevronFlexContainer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    i {
        font-size: 1.8rem;
        transition: 0.7s;
    }
    i:hover {
        opacity: 0.6;
    }
}

.pastWorkFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56%;
    img {
        border-radius: 50%;
    }
    p { 
        padding-top: 30px;
        font-style: italic;
        opacity: 0.6;
    }
}

// Features Section
.featuresSection {
    background-image: url(../assets/home-4.jpeg);
    background-position: center;
    background-size: cover;
        .splitFlexContainer {
            display: flex;
            width: 60%;
            margin-left: 50%;
            .iconText {
                margin-left: 15px;
            }
        }
    } 

.featureFlexContainer {
    display: flex;
    text-align: left;
    padding: 40px 20px 40px 0;
    h3 {
        text-align: left;
    }
    p {
        opacity: 0.6;
    }
    i {
        font-size: 1rem;
        padding: 15px;
        border: solid $tertiary 2px;
        border-radius: 50%;
    }
}

// Team Section
.teamSection h2 {
    padding-bottom: 100px;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.teamGallery {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    .team {
        width: calc(( 100% / 4) - 30px);
        margin: 15px;
    }
    .teamText {
        width: calc(50% - 30px);
        text-align: left;
        background-color: blueviolet;
        padding: 100px 10px 10px 40px;
        margin: 15px;
        min-height: 250px;
        h4 {
            text-align: left;
        }
    }
}

// Portfolio Section
.portfolioSection {
    height: 90vh;
    background-color: $quaternary;
    padding: 0; 
    .wrapper {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
    }
}

.portfolioText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.portfolioImage {
    min-width: 50vw;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
