
// Font Family
$headingFont: "Montserrat";
$bodyFont: "Open Sans";

// Font Sizes
$baseFontSize: 1rem;

// Colours
$primary: #FFFFFF;     // White
$secondary: #F6F6F6;   // White Two
$tertiary: #333333;    // Black
$quaternary: #C3DAB7;  // Light Sage
